.table-container {
    width: 100%;
    overflow: hidden;
    margin-top: 130px;

    
 }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
  }
  

  